html, body {
  margin: 0;
  padding: 20px;
  width: 100%;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  position: absolute;
  width: 450px;
  margin: 10px auto 0;
  padding: 10px;
}

li {
  display: flex;
  padding-bottom: 8px;
}

.pokemon-name {
  background-color: #8BE9CA;
  color: #000;
  width: 240px;
  height: 50px;
  border: 0.5px outset;
  font-size: 15px;
  border-radius: 15px;
}

button:hover, button:focus {
  cursor: pointer;
  opacity: 0.8;
}
